:root {
	font-size: 1.4vmin;
	background-color: var(--bg);
	font-family: 'Comfortaa';
	--animation-time-factor: 1.5;
	--bg: rgb(0, 0, 21);
	--fg: rgb(255, 255, 255);
	--ast-size: 6rem;
	--ast-color: #e8e8e8;
	--bg2: #000000e4;
	--bg3: #0000005a;
	color: var(--fg);
	
}

/************************* MENU *************************/

.menu {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	width: fit-content;
	height: fit-content;
	padding: 5rem;
	border-radius: 5rem;
	background-color: var(--bg2);
	border: solid 0.5rem var(--fg);
	/* border: solid red; */
}

.title {
	font-size: 10rem;
	left: 0px;
	right: 0px;
	margin: auto;
	width: fit-content;
	font-weight: bolder;
	margin-bottom: 5rem;
	/* border: solid red; */
}
.subtitle {
	font-size: 5rem;
	left: 0px;
	right: 0px;
	margin: auto;
	width: fit-content;
	font-weight: bolder;
	margin-bottom: 2rem;
	/* border: solid red; */
}

.element {
	left: 0px;
	right: 0px;
	margin: auto;
	width: fit-content;
	margin-top: 2rem;
}

.element, .element a {
	color: var(--fg);
	font-size: 4rem;
	font-weight: lighter;
	text-decoration: none;
}

.clickable {
	transition: transform 0.2s;
	transition-timing-function: ease-in;
}
.clickable:hover {
	transform: scale(1.1);
	transition: transform 0.3s;
	transition-timing-function: ease;
}

.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: var(--bg3);
	transition: transform 0.1s;
}

.hidden {
	background-color: transparent;
	transform: scale(0%);
	transition: transform 0.1s;
}

/************************* INPUTS *************************/
.element input, .element button {
	font-size: 5rem;
	height: 8rem;
	border-radius: 4rem;
	padding: 0.2em;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: center;
}

.element input[type='text'] {
	width: 7em;
	font-family: 'Courier New', Courier, monospace;
	background-color: var(--bg);
	border: solid var(--fg) 0.5rem;
	font-weight: bold;
	color: var(--fg);
	box-sizing: border-box;
}

.element input[type='text']:focus, .element button:focus {
	outline: none;
	border-width: 0.75rem;
}

.element button {
	transform: scale(0.9);
	background-color: var(--bg);
	outline: none;
	border: solid var(--fg);
	width: fit-content;
	color: var(--fg);
	cursor: inherit;
}

/************************* GRID *************************/

.grid {
	display: grid;
	grid-auto-flow: column;
}

.grid-el {
	text-align: center;
	width: fit-content;
	padding: 2rem;
}

.el-img {
	border:solid 0.5rem;
	width: 17rem;
	aspect-ratio: 1;
	left:0px;
	right:0px;
	margin:auto;
	border-radius: 3rem;
	overflow: hidden;
	position: relative;
	background-color: var(--bg);
}

.el-img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	position: absolute;
}

.el-name {
	font-size: 3rem;
	padding: 1rem;
}

.el-desc {
	font-size: 2rem;
}

/************************* BACKGROUND *************************/

.bg {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	/* border: solid red; */
	background-image: url("../src/bg.png");
	background-size:30%;
}

.ast {
	position: absolute;
	width: var(--ast-size);
	height: var(--ast-size);
	top: calc(var(--ast-size)*-1.5);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    background: var(--ast-color);
	/* border: solid red; */
}

.ast:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;    
    border-bottom: calc(var(--ast-size)*0.29) solid var(--ast-color);
    border-left: calc(var(--ast-size)*0.29) solid var(--bg);
    border-right: calc(var(--ast-size)*0.29) solid var(--bg);
        width: calc(var(--ast-size)*0.44);
    height: 0;
}

.ast:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;    
    border-top: calc(var(--ast-size)*0.29) solid var(--ast-color);
    border-left: calc(var(--ast-size)*0.29) solid var(--bg);
    border-right: calc(var(--ast-size)*0.29) solid var(--bg);
    width: calc(var(--ast-size)*0.44);
    height: 0;
}

.ast:nth-child(even) {
	animation-name: ast-even;
}

.ast:nth-child(odd) {
	animation-name: ast-odd;
}

.ast:nth-child(10n) {
	right: -100vw;
	animation-delay: 6s;
	animation-duration: calc(11s * var(--animation-time-factor));
}
.ast:nth-child(10n-1) {
	right: -80vw;
	animation-delay: 3s;
	animation-duration: calc(13s * var(--animation-time-factor));
}
.ast:nth-child(10n-2) {
	right: -60vw;
	animation-delay: 7s;
	animation-duration: calc(15s * var(--animation-time-factor));
}
.ast:nth-child(10n-3) {
	right: -40vw;
	animation-delay: 0s;
	animation-duration: calc(13s * var(--animation-time-factor));
}
.ast:nth-child(10n-4) {
	right: -20vw;
	animation-delay: 15s;
	animation-duration: calc(11s * var(--animation-time-factor));
}
.ast:nth-child(10n-5) {
	right: 0vw;
	animation-delay: 10s;
	animation-duration: calc(13s * var(--animation-time-factor));
}
.ast:nth-child(10n-6) {
	right: 20vw;
	animation-delay: 12s;
	animation-duration: calc(15s * var(--animation-time-factor));
}
.ast:nth-child(10n-7) {
	right: 40vw;
	animation-delay: 4s;
	animation-duration: calc(13s * var(--animation-time-factor));
}
.ast:nth-child(10n-8) {
	right: 60vw;
	animation-delay: 9s;
	animation-duration: calc(11s * var(--animation-time-factor));
}
.ast:nth-child(10n-9) {
	right: 80vw;
	animation-delay: 13s;
	animation-duration: calc(13s * var(--animation-time-factor));
}

@keyframes ast-odd {
	from {transform: none;}
	to {transform: translate(-200vw, 200vh) rotate(180deg);}
}
@keyframes ast-even {
	from {transform: none;}
	to {transform: translate(-200vw, 200vh) rotate(-180deg);}
}

/************************* CURSORS *************************/
body {
	cursor: url("../src/cursors/default.svg") 0 0, default;
}

.clickable, .clickable a {
	cursor: url("../src/cursors/pointer.svg") 0 0, default;
}

.clickable:active, .clickable a:active {
	cursor: url("../src/cursors/pointer-click.svg") 0 0, default;
}

.element input[type='text'] {
	cursor: url("../src/cursors/text.svg") 0 0, default;
}

/************************* OTHERS *************************/
.user {
	font-size: 3rem;
	padding: 1rem;
	right: 0px;
	position: absolute;
	background-color: var(--bg2);
	width: fit-content;
	height: fit-content;
	box-sizing: border-box;
	border: 0.4rem solid;
	border-radius: 1rem;
	margin: 1rem;
}

.nosel {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

::selection {
	color: var(--bg);
	background: var(--fg);
}

::-moz-selection {
	color: var(--bg);
	background: var(--fg);
}