:root {
	--ast-size: 6rem;
	--ast-color: #e8e8e8;
	--ast-time-factor: 1.5;
	--ast-delay: -10s;
	--fg: rgb(255, 255, 255);
	--fg4: rgb(255, 230, 230);
	--bg: rgb(0, 0, 21);
	--bg2: #000000e4;
	--bg3: #0000005a;
	--bg4: rgb(80, 0, 21);
	font-size: 1.4vmin;
	background-color: var(--bg);
	font-family: 'Comfortaa';
	color: var(--fg);
}

/************************* MENU *************************/

.menu {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	width: fit-content;
	height: fit-content;
	padding: 5rem;
	border-radius: 5rem;
	background-color: var(--bg2);
	border: solid 0.5rem var(--fg);
	max-width: 80%;
	max-height: 80%;
	overflow: hidden;
	/* border: solid red; */
}

.title {
	font-size: 10rem;
	left: 0px;
	right: 0px;
	margin: auto;
	width: fit-content;
	font-weight: bolder;
	margin-bottom: 5rem;
	/* border: solid red; */
}
.subtitle {
	font-size: 5rem;
	left: 0px;
	right: 0px;
	margin: auto;
	width: fit-content;
	font-weight: bolder;
	margin-bottom: 2rem;
	/* border: solid red; */
}

.element {
	left: 0px;
	right: 0px;
	margin: auto;
	width: fit-content;
	margin-top: 2rem;
}

.element, .element a {
	color: var(--fg);
	font-weight: lighter;
	text-decoration: none;
}

.element {
	font-size: 4rem;
}

.clickable {
	transition: transform 0.2s;
}
.clickable:hover {
	transform: scale(1.1);
	transition: transform 0.3s;
	transition-timing-function: ease-in-out;
}

.row {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	/* box-sizing: border-box;
	border: solid red; */
}

.row .element {
	margin-top:auto;
	margin-bottom:auto;
}

.row .element:first-child:not(.clickable) {
	margin-right: 2rem;
	margin-left: 0px;
}

.row .element:last-child:not(.clickable) {
	margin-right: 0px;
}

.row .clickable {
	display: flex;
	min-width: fit-content;
	flex: 1;
	width: auto;
	min-width: fit-content;
}

.row .clickable:first-child *{
	max-width: calc(100% - 2rem);
	margin-right: 2rem;
}

.row .clickable:last-child *{
	max-width: calc(100% - 2rem);
	margin-left: 2rem;
}

.row .clickable .btn, .row .clickable a {
	width: 100%;
}

.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: var(--bg3);
	transition: transform 0.1s;
}

.hidden {
	background-color: transparent;
	transform: scale(0%);
	transition: transform 0.1s;
}

/************************* INPUTS *************************/
.element input, .element .btn {
	font-size: 4rem;
	height: fit-content;
	border-radius: 4rem;
	padding: 0.2em;
	padding-left: 0.75ch;
	padding-right: 0.75ch;
	text-align: center;
	box-sizing: border-box;
}

.element input[type='text'], .element input[type='password'] {
	font-family: 'Courier New', Courier, monospace;
	background-color: var(--bg);
	border: solid var(--fg) 0.5rem;
	font-weight: bold;
	color: var(--fg);
	height: 2em;
}

.element input[type='text']:focus, .element input[type='password']:focus, .element .btn:focus {
	outline: none;
	border-width: 0.6rem;
}

.element .btn {
	font-size: 4rem;
	font-family: inherit;
	background-color: var(--bg);
	outline: none;
	border: solid var(--fg);
	height: 7rem;
	width: fit-content;
	color: var(--fg);
	cursor: inherit;
}

/************************* ALERT *************************/

.alert {
	position: fixed;
	border:solid var(--fg) 0.5rem;
	width: fit-content;
	max-width: 50%;
	left: 0px;
	right: 0px;
	margin: auto;
	box-sizing: border-box;
	height: fit-content;
	top: 0px;
	padding: 2rem;
	border-radius: 5rem;
	background-color: var(--bg);
	transform: translateY(-100%);
	transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.al-show {
	transform: translateY(0);
}

.alert div:first-child {
	width: fit-content;
	left: 0px;
	right: 0px;
	margin: auto;
	font-size: 3rem;
	font-weight: bolder;
}

.alert div:last-child {
	font-size: 2rem;
}

.alert.err {
	background-color: var(--bg4);
	color: var(--fg4);
	border-color: var(--fg4);
}
/************************* GRID *************************/

.grid {
	display: grid;
	grid-auto-flow: column;
}

.grid-el {
	text-align: center;
	width: fit-content;
	padding: 2rem;
}

.el-img {
	border:solid 0.5rem;
	width: 17rem;
	aspect-ratio: 1;
	left:0px;
	right:0px;
	margin:auto;
	border-radius: 3rem;
	overflow: hidden;
	position: relative;
	background-color: var(--bg);
}

.el-img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	position: absolute;
}

.el-name {
	font-size: 3rem;
	padding: 1rem;
}

.el-desc {
	font-size: 2rem;
}

/************************* BACKGROUND *************************/

.bg {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	/* border: solid red; */
	background-image: url("../src/bg.png");
	background-size:30%;
}

.ast {
	position: absolute;
	width: var(--ast-size);
	height: var(--ast-size);
	top: calc(var(--ast-size)*-1.5);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    background: var(--ast-color);
	/* border: solid red; */
}

.ast:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;    
    border-bottom: calc(var(--ast-size)*0.29) solid var(--ast-color);
    border-left: calc(var(--ast-size)*0.29) solid var(--bg);
    border-right: calc(var(--ast-size)*0.29) solid var(--bg);
        width: calc(var(--ast-size)*0.44);
    height: 0;
}

.ast:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;    
    border-top: calc(var(--ast-size)*0.29) solid var(--ast-color);
    border-left: calc(var(--ast-size)*0.29) solid var(--bg);
    border-right: calc(var(--ast-size)*0.29) solid var(--bg);
    width: calc(var(--ast-size)*0.44);
    height: 0;
}

.ast:nth-child(even) {
	animation-name: ast-even;
}

.ast:nth-child(odd) {
	animation-name: ast-odd;
}

.ast:nth-child(10n) {
	right: -100vw;
	animation-delay: calc(var(--ast-delay) + 6s);
	animation-duration: calc(11s * var(--ast-time-factor));
}
.ast:nth-child(10n-1) {
	right: -80vw;
	animation-delay: calc(var(--ast-delay) + 3s);
	animation-duration: calc(13s * var(--ast-time-factor));
}
.ast:nth-child(10n-2) {
	right: -60vw;
	animation-delay: calc(var(--ast-delay) + 7s);
	animation-duration: calc(15s * var(--ast-time-factor));
}
.ast:nth-child(10n-3) {
	right: -40vw;
	animation-delay: calc(var(--ast-delay) + 0s);
	animation-duration: calc(13s * var(--ast-time-factor));
}
.ast:nth-child(10n-4) {
	right: -20vw;
	animation-delay: calc(var(--ast-delay) + 15s);
	animation-duration: calc(11s * var(--ast-time-factor));
}
.ast:nth-child(10n-5) {
	right: 0vw;
	animation-delay: calc(var(--ast-delay) + 10s);
	animation-duration: calc(13s * var(--ast-time-factor));
}
.ast:nth-child(10n-6) {
	right: 20vw;
	animation-delay: calc(var(--ast-delay) + 12s);
	animation-duration: calc(15s * var(--ast-time-factor));
}
.ast:nth-child(10n-7) {
	right: 40vw;
	animation-delay: calc(var(--ast-delay) + 4s);
	animation-duration: calc(13s * var(--ast-time-factor));
}
.ast:nth-child(10n-8) {
	right: 60vw;
	animation-delay: calc(var(--ast-delay) + 9s);
	animation-duration: calc(11s * var(--ast-time-factor));
}
.ast:nth-child(10n-9) {
	right: 80vw;
	animation-delay: calc(var(--ast-delay) + 13s);
	animation-duration: calc(13s * var(--ast-time-factor));
}

@keyframes ast-odd {
	from {transform: none;}
	to {transform: translate(-200vw, 200vh) rotate(180deg);}
}
@keyframes ast-even {
	from {transform: none;}
	to {transform: translate(-200vw, 200vh) rotate(-180deg);}
}

/************************* CURSORS *************************/
body {
	cursor: url("../src/cursors/default.svg") 5 0, default;
}

.clickable, .clickable a, .clickable *, ::-webkit-scrollbar-thumb {
	cursor: url("../src/cursors/pointer.svg") 16 0, default;
}

.clickable:active, .clickable a:active, .btn:active {
	cursor: url("../src/cursors/pointer-click.svg") 16 0, default;
}

.element input[type='text'], .element input[type='password'] {
	cursor: url("../src/cursors/text.svg") 16 0, default;
}

.alert, .alert * {
	cursor: url(../src/cursors/alert.svg) 0 0, default
}

/************************* OTHERS *************************/
.box {
	font-size: 3rem;
	padding: 1.5rem;
	position: absolute;
	background-color: var(--bg2);
	width: fit-content;
	height: fit-content;
	box-sizing: border-box;
	border: 0.4rem solid var(--fg);
	border-radius: 2rem;
	margin: 1rem;
	overflow: hidden;
}

.home {
	width: 9rem;
	height: 9rem;
	background-image: url("../src/icons/home.svg");
	background-repeat: no-repeat;
	background-size: 6rem;
	background-position: center;
	box-sizing: border-box;
}

.top-right {
	top: 0px;
	right: 0px;
}

.top-left {
	top: 0px;
	left: 0px;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--fg);
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	transform: scale(1.1);
}

.nosel {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

::selection {
	color: var(--bg);
	background: var(--fg);
}

::-moz-selection {
	color: var(--bg);
	background: var(--fg);
}