.el-title {
	border:solid 0.5rem;
	width: fit-content;
	left:0px;
	right:0px;
	margin:auto;
	border-radius: 3rem;
	overflow: hidden;
	position: relative;
	background-color: var(--bg);
	font-size: 4rem;
	padding: 1.5rem;
	max-width: max-content;
}

.grid {
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: unset;
}

#code {
	display: inline;
}